.todoList{

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.list{
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-start;
    width: 400px;
    background-color: beige;
}



.todoItem{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    margin: 5px;
}

.item{
    width: 350px;
    text-align: initial;
}

.close{
    display: flex;
    width: 30px;
    background-color: antiquewhite;
    border-radius: 3px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;}

